.tile {
  width: 48px;
  height: 60px;
  cursor: pointer;
}

#tile {
  width: 48px;
  height: 60px;
}

#tile_selector {
	width: 800px;
	margin: auto;
	text-align:center
}

div.heading {
}

div.tile_display {
	height: 70px;
	margin: auto;
	text-align:center;
	border-style: solid;
	padding-top: 5px;
}

div.hand_display {
	width: 800px;
	margin: auto;
	text-align:center;
}