.tile {
  width: 48px;
  height: 60px;
  cursor: pointer;
}

#tile {
  width: 48px;
  height: 60px;
}

div.heading {
	width: 500px;
	margin: auto;
}

div.tile_display {
	width: 500px;
	margin: auto;
}